.form-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 66em;
  height: 18em;
  margin-bottom: 10%;
  @media screen and (min-width: 420px) {
    width: 29em;
  }
  button {
    font-weight: 400;
  }
  form {
  @media screen and (min-width: 420px) {
    width: 100%;
  }
}
}

.form-edit {
  box-shadow: 3px 0 25px -19px grey;
  margin-bottom: 50px;
label {
  margin: 25px;
  border-bottom: 1px solid black;
}
    textarea {
      border-radius: 20px;
      font-family: Lato, sans-serif;
      width: 382px;
      height: 43px;
      text-align: center;
    }
    input {
      width: 50%;
      border: none;
      padding: 20px;
    }
    img {
      width: 70%;
    }
    button {
      font-weight: 300;
    }
}