#admin {
    display: flex;
    .SideMenu {
        border-right: solid 1px gray;
        padding-right: 30px;
          ul {
            list-style: none;
              li a {
                text-decoration: none;
                color: black;
              }
            }
      }
  }

.AHeader {
  line-height: 50px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  button {
    width: 7rem;
    height: 25px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
     &:hover {
      box-shadow: solid gray;
     }
  }
}

#admin-body {
  text-align: center;
  padding-left: 20px;
}

/***************************************/
