.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 85px;
  h2 {
    border-top: 1px solid;
    padding-top: 60px;
    width: 36em;
    padding-bottom: 60px;
  }
  p {
    position: relative;
    z-index: 1;
    font-style: italic;
  }
  img {
    width: 70%;
    cursor: pointer;
    transform: scale(1);
    transition: transform 400ms;
    &:hover {
      transform: scale(1.15);
    }
  }
}
