.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .bienvenue {
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      position: relative;
      z-index: 1;
      border-bottom: 1px solid red;
      padding: 16px 44px 30px 30px;
    }

    p {
      position: relative;
      z-index: 1;
      padding-bottom: 50px;
      border-top: 1px solid;
      padding-top: 50px;

      a {
        text-decoration: none;
        color: black;

        &:hover {
          border-bottom: 1px solid;
          padding-bottom: 5px;
        }
      }
    }

    img {
      width: 7%;
      cursor: pointer;
      animation: spin 17.5s linear infinite;
    }
  }
}

.form-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 66em;
  height: 18em;
  margin-bottom: 10%;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 38%;
    margin-top: 55px;
    border: 1px solid gray;
    border-radius: 28px;

    label {
      font-size: 12px;
      margin: 10px 0 -9px 0;
    }

    textarea {
      border: 1px solid lightgray;
      border-radius: 50px;
    }

    input {
      font-size: 10px;
      text-align: center;
      border-radius: 20px;
      width: 83%;
      height: 21px;
      padding: 5px;
      border: none;
    }

    button {
      width: 10em;
      font-size: 12px;
    }
  }
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 35px;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ffd7d7;
  width: 16em;
  .group {
    width: 46%;
  }

  p {
    font-size: 10px;
    margin-top: 60px;
  }

  button {
    width: 30%;
    margin: 0;
  }

}

.post-body {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: -45px 0 0 0;

  table {
    border: 1px solid gray;
    border-radius: 50px;
    padding: 20px;
    margin-top: 20px;
  }
}

// Keyframes
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}