.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .bienvenue {
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      border-bottom: 1px solid red;
      padding: 0 24px 13px 29px;
    }

    a {
      text-decoration: none;
      color: black;

      &:hover {
        border-bottom: 1px solid;
        padding-bottom: 5px;
      }

    }

    img {
      width: 7%;
      cursor: pointer;
      animation: spin 17.5s linear infinite;
    }
  }
}

.news {
  font-weight: 400;
  border-bottom: 1px solid #4E5166;
  box-shadow: 0px 63px 72px -24px #4e5166;
  margin-top: 20px;
  padding: 16px;
}

.fil {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 35px 35px 35px 0;
  padding: 20px;
  margin: 20px 0 20px 0;
  border: 2px solid #ffd7d7;
  width: 35em;
  box-shadow: 7px 0px 46px -16px grey;
  .group {
    width: 46%;
  }

  p {
    font-size: 10px;
    margin-top: 60px;
  }

  img {
    width: 70%;
  }

  button {
    width: 30%;
    margin: 0;
  }

  .post-infos {
    display: flex;
    align-items: center;
    margin-top: 55px;

    .pinfos {
      margin: 0;
      padding-left: 35px;
    }

    img {
      width: 5%;
      padding-right: 5px;
    }

    .like-container {
      display: flex;
      align-items: center;

      img {
        width: 18px;
        padding-right: 5px;
        cursor: pointer;
        transform: scale(1.0);
        transition: transform 300ms;

        &:hover {
          transform: scale(1.2);
        }
      }

      span {
        font-size: 11px;
      }
    }
  }

  .updating {
    display: flex;
    align-items: center;

    img {
      width: 15px;
      padding: 17px 12px 0 12px;
      transform: scale(1.0);
      transition: transform 400ms;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.form-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
  width: 52em;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
    border: 1px solid gray;
    border-radius: 28px;

    .group {
      flex-direction: row;
    }

    img {
      width: 20px;
      position: relative;
      opacity: 0.7;
      color: #4E5166;
      margin: -5px 0 0 0;
      padding: 0 25px 0 0;
    }

    label {
      font-size: 12px;
      margin: 10px 0 -9px 0;
    }

    textarea {
      font-family: Lato, sans-serif;
      border: 1px solid lightgray;
      border-radius: 50px;
      text-align: center;
    }

    input {
      font-size: 10px;
      text-align: center;
      border-radius: 20px;
      width: 83%;
      height: 21px;
      padding: 5px;
      border: none;
    }
  }

  button {
    width: 10em;
    font-size: 12px;
    box-shadow: 2px 7px 15px -13px gray;
  }
}


// Keyframes
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}